  html {
    background-color: white;
  }

  #menu{
      
      padding: 8px 50px;
      margin: 15px auto;
      border-radius: 5px ;
      background-color: white;
      text-align: center;
      width: auto;
      height: auto;
      font-family: 'Open Sans';
      box-shadow: 4px 4px 24px red;
    }

    #menu > button{
      background-color: white;
      border: 0;
      border-color: red;
      color: red;
      font-weight: bold;
      font-size: 22px;
      margin:  12px;
    }

    #menu > button:hover{
      color: red;
    }

    #search{
      text-align: center;
      margin: 30px 20px;
    }

    #search_txt{
      border:44%;
      border-color: red;
      border-radius: 13%;
      color: black;
      padding:8px 10px;
      font-style: italic;
      box-shadow: 4px 4px 10px white;
      background-color: white;
    }
    
    .login{
      position: initial;
      margin-right: 12px;
      margin-top: 22px;
    }

    .lente{
    position: absolute; 
    margin-left: -40px; 
    margin-top: 2px;
    font-size: 20px;
    background-color: red;
    border: 0px;
    border-radius: 3px;
    width: 30px;
    height: 30px;
      }
    .centro {
      display: block;
      margin: 0px auto;
      text-align:center;
    }

    .post-thumbnail {
    width: 100%;
    border-radius: 25%;
  }

    .posts-grid {
    display:grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

    .posts-grid > .post {
    flex: 1 0 33.33%;
  }

    .post-title {
        color: black;
    }

    .post-permalink {
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
    }

    